{% extends "base.html.twig" %}



{% block title %}{{ c[33]|raw }} | {% endblock %}



{% block body %}

    {% include "nav.html.twig" %}

    <div class="standard-content">
        <div class="ui text container">
            <h1 class="ui horizontal divider huge header">{{ c[33]|raw }}</h1>

            <div class="plain-content">
                {{ c[34]|raw }} 
            </div>

            <div class="join-form">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSenxS7fgD59-hNaecXonF7o_Pf_FG2tc9jMiaLBJJQssFqsqQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Notiek ielāde…</iframe>
            </div>

        </div>
    </div>


{% endblock %}



{% block javascripts %}
{% include "navjs.html.twig" %}

<script>

/*$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            }
        }
    })
});*/

</script>
{% endblock %}