@font-face {
	font-family: "HK Grotesk";
	src: url("/assets/fonts/HKGrotesk/HKGrotesk-Light.otf") format("opentype");
}
@font-face {
    font-family: "HK Grotesk";
    font-weight: bold;
	src: url("/assets/fonts/HKGrotesk/HKGrotesk-Bold.otf") format("opentype");
}
@font-face {
    font-family: "HK Grotesk";
    font-weight: light;
	src: url("/assts/fonts/HKGrotesk/HKGrotesk-Light.otf") format("opentype");
}
@font-face {
    font-family: "HK Grotesk";
    font-style: italic;
	src: url("/assets/fonts/HKGrotesk/HKGrotesk-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: "HK Grotesk";
    font-weight: light;
    font-style: italic;
	src: url("/assets/fonts/HKGrotesk/HKGrotesk-LightItalic.otf") format("opentype");
}

//$fontBeauty: 'Nunito', sans-serif;
$fontBeauty: 'HK Grotesk', sans-serif;
$fontSerif: 'Lora', serif;

$violet: #54365c;
$violetDarker: #402c46;
$facebook: #3b5998;
$twitter: #2795e9;
$instagram: #395c79;
$fyegGreen: #128C3B;
$fffGreen: #1a7240;

*{
    box-sizing: border-box;
    font-family: $fontBeauty;
}

body{
    min-height: 100vh;    
}


.button{
    font-family: $fontBeauty;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 30px;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;

    &.welcome{
        display: inline-block;
        padding: 16px 20px;
        padding-bottom: 12px;
        //border-radius: 3px;
        border: 2px solid white;
        margin-right: 10px;
        margin-bottom: 15px;
        color: white;
        font-size: 1.4em;

        &:hover{
            color: $violet;
            background-color: white;
        }
    }

    &.dark{
        background-color: white;
        border: 2px solid $violet;
        color: $violet;
        &:hover{
            color: white;
            background-color: $violet;
        }
    }

    &.white{
        background-color: $violet;
        border: 2px solid white;
        color: white;
        &:hover{
            color: $violet;
            background-color: white;
        }
    }

    &.wide{
        display: block;
    }
}

.nav{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);

    .logo{
        flex: 1;
        img{
            height: 60px;
        }
    }
    .nav-bar{
        height: inherit;

        font-family: $fontBeauty;
        font-weight: bold;
        font-size: 1.1em;
        text-transform: uppercase;

        transition: left 0.3s;

        span.dividing-el{
            color: rgba(0,0,0,0.2);
            display: none;
        }
        
        & > .nav-el{
            color: $violet;
            padding: 4px;
            margin: 0px 8px;
            
            display: inline-block;
            vertical-align: middle;
            height: inherit;
            display: inline-table;
            vertical-align: middle;

            transition: color 0.2s;

            &:hover{
                color: black;
                .nav-drop{
                    height: 250px;
                    @media only screen and (max-width: 933px) {
                        height: auto;
                    }
                }
            }

            &.dark{
                color: white;
                background-color: $violet;
                
                
                margin: 0px 10px;
                padding: 0px 20px;
                
                transition: background-color 0.2s, color 0.2s;
                &:hover{
                    background-color: $violetDarker;
                }
            }

            span{
                vertical-align: middle;
                display: table-cell;
            }

            & > a{
                display: table-cell;
                vertical-align: middle;
                color: $violet;
                transition: color 0.2s;
                &:hover{
                    color: black;
                }
            }
            
            .nav-drop{
                height: 0px;
                overflow: hidden;
                position: absolute;
                top: 100px;
                margin-left: -20px;  

                transition: height 0.5s;

                .shadow-wrap{
                    box-shadow: 0px 5px 7px rgba(0,0,0,0.2);
                    margin: 5px;
                    margin-top: 0px;
                    a{
                        display: block;
                        background-color: white;
                        padding: 15px;
                        padding-right: 30px;
                        min-width: 100px;
                        color: $violet;
                        transition: background-color 0.2s, color 0.2s;
                        &:hover{
                            //color: white;
                            //background-color: $violet;
                            //color: black;
                            background-color: #eee;
                        }
                    }
                }
            }
        }

        .language-stack{
            display: inline-block;
            padding: 4px;
            margin: 0px 14px;
            vertical-align: middle;
            a{
                font-size: 0.9em;
                line-height: 1.2;
                display: block;
                cursor: pointer;
                color: $violet;
                &:hover{
                    color: black;
                }
            }
        }

        @media only screen and (max-width: 933px) {
            position: fixed;
            min-width: 60%;
            max-width: 75%;
            height: 100%;
            left: -100%;
            top: 0;
            background-color: white;
            padding: 15px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
            
            &.open{
                left: 0%;
            }

            & > a.nav-el{
                margin: 5px;
                padding: 10px;
                &:hover{
                    color: white;
                    background-color: $violet;
                }
            }

            & > .nav-el{
                display: block;
                height: auto;

                margin: 0px;
                padding: 0px;

                display: flex;
                flex-direction: column-reverse;

                span{
                    vertical-align: middle;
                    display: table-cell;
                }
                
                & > a{
                    margin: 5px;
                    padding: 10px;
                    &:hover{
                        color: white;
                        background-color: $violet;
                    }
                }

                .nav-drop{
                    
                    height: auto;
                    overflow: visible;
                    position: unset;
                    margin-left: 16px;
                    border-left: 3px solid $violet;

                    .shadow-wrap{
                        box-shadow: unset;
                        margin: 0px;
                        a{
                            padding: 15px;
                            padding-right: 30px;
                            min-width: 100px;
                            color: $violet;
                            &:hover{
                                color: white;
                                background-color: $violet;
                            }
                        }
                    }
                }


            }

            .language-stack{
                display: block;
                border-top: 1px solid rgba(0,0,0,0.2);
                margin: 0px;
                padding: 0px;
                a{
                    margin-top: 5px;
                    margin-left: 5px;
                    padding: 10px;
                    display: inline-block;
                }
            }

        }

    }

    .nav-button-box{
        display: none;
        font-size: 2em;
        color: $violet;

        .nav-button{
            padding: 10px;
        }

        @media only screen and (max-width: 933px) {
            display: block;
        }

    }
    
}

.welcome-view{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/landing.jpg');
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    padding: 10%;
    .content{
        color: white;
        .pusher{
            height: 50px;
        }
        h1{
            margin: 5px 0px;
            font-size: 3em;
            font-family: $fontBeauty;
        }
        div.subheader{
            margin-bottom: 20px;
            font-size: 1.4em;
            font-family: $fontBeauty;
        }
    }
    
}

.stripe{
    
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);

    h1.ui.header{
        font-family: $fontBeauty;
    }

    &.white{
        background-color: white;
        .text-hl{
            padding: 2px 5px;
            background-color: #ffd000; //#39bd72
        }
    }
    &.violet{
        background-color: $violet;
        color: white;
        & *{
            color: white;
        }
    }

    &.climate-green{
        background-color: $fffGreen;
        color: white;
        & *{
            color: white;
        }
        .text-hl{
            padding: 2px 5px;
            color:black;
            background-color: #ffd000; //#39bd72
        }
    }

    &.climate-special{
        padding-top: 160px;
        padding-bottom: 160px;

        background-color: #404a3c;
        color: white;
        & *{
            color: white;
        }
        .text-hl{
            padding: 2px 5px;
            color:black;
            background-color: #ffd000; //#39bd72
        }
        .text-hl-2{
            padding: 2px 5px;
            color:black;
            background-color: #ffffff; //#39bd72
        }
        a{
            color: #aaa;
            transition: color 0.2s;
            &:hover{
                color: white;
            }
        }
    }

    &.fyeg{
        padding-top: 40px;
        padding-bottom: 40px;

        background-color: $fyegGreen;

        color: white;
        & *{
            color: white;
        }

        & > div{
            display: flex;
            align-items: center;

            @media only screen and (max-width: 723px) {
                flex-direction: column;
                .description{
                    padding: 0px;
                    padding-top: 40px;
                }
            }

            img{
                height: 150px;
                display: inline-block;
            }
            .description{
                padding-left: 40px; 
                font-size: 1.2em;
                a{
                    font-weight: bold;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    margin: 40px 0px;

    @media only screen and (max-width: 723px) {
        grid-template-columns: 1fr;
    }

    .article{
        width: 100%;
        a.image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .header{
            & > *{
                margin-top: 5px;
                font-family: $fontBeauty;
            }
            h2{
                //display: inline;
                margin-bottom: 0px;
            }
            color: black;
        }
        span.time{
            display: inline-block;
            font-size: 0.9em;
            margin-top: 0px;
        }
        a.author{
            font-size: 0.9em;
            //float: right;
            margin-top: 0px;
            color: rgba(0,0,0,.87);
            &:hover{
                color: rgba(0,0,0,1);
            }
        }
    }
}

.welcome-block{
    height: 80vh;
}

.landing-textblock{
    font-size: 1.2em;
    margin: 30px 0px;
}

.socmedia-block{
    display: flex;
    width: 60%;
    margin: auto 20%;
    justify-content: space-evenly;

    @media only screen and (max-width: 723px) {
        flex-direction: column;
        align-items: center;
    }

    a.segment{
        font-size: 2em;
        border-radius: 50%;
        width: 3.4em;
        height: 3.4em;
        text-align: center;
        vertical-align: middle;
        color: $violet;
        margin-top: 10px !important;

        transition: background-color 0.2s, color 0.2s;

        &:hover{
            color: white;
            &.fb{
                background-color: $facebook;
            }
            &.tw{
                background-color: $twitter;
            }
            &.ig{
                background-color: $instagram;
            }
        }
    }
}

.document-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;

    margin: 40px 0px;

    @media only screen and (max-width: 723px) {
        grid-template-columns: 1fr 1fr;
    }

    & > a{
        background-color: $violet;
        padding: 8px;
        color: white;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);

        text-align: center;

        transition: background-color 0.2s;
        &:hover{
            background-color: $violetDarker;
        }
        .icon{
            font-size: 4em;
        }
        .title{
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}

.people-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;

    @media only screen and (max-width: 723px) {
        grid-template-columns: 1fr;
    }

    .person{
        text-align: center;
        div.img{
            display: inline-block;
            width: 150px;
            height: 150px;
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 50%;
        }
        h3.name{
            margin: 0px;
            margin-top: 8px;
        }
        .sub.header{
            font-style: italic;
            color: #333;
            margin-bottom: 8px;
        }
    }
}

.document-list{

    .list-entry{
        display: flex;
        align-items: center;

        border-top: 1px solid rgba(0,0,0,0.2);

        &:first-child{
            border-top: none;
        }

        &:hover{
            .icon{
                color: $violetDarker;
            }
            .content{
                color: black;
            }
        }

        .icon, .content{
            padding: 5px;
        }

        .icon{
            font-size: 2em;
            color: $violet;
            transition: color 0.2s;
        }

        .content{
            padding-left: 10px;
            flex: 1;
            font-size: 1.2em;
            color: rgba(0,0,0,.87);
            transition: color 0.2s;
        }
    }
}

.fyeg-box{
    display: flex;
    align-items: center;

    margin: 40px 0px;
    padding: 15px 25px;

    //background-color: $fyegGreen;

    border: 10px solid $fyegGreen;

    img{
        display: block;
        height: 160px;
    }

    .description{
        padding-left: 25px;

        font-size: 1.1em;
        color: black;;
        a{
            color: black;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.partner-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-column-gap: 20px;
    grid-row-gap: 15px;

    margin: 40px 0px;

    align-items: center;

    @media only screen and (max-width: 723px) {
        display: block;
        text-align: center;
        .partner-logo{
            margin-top: 40px;
        }
    }

    .divider{
        grid-column: span 2;
    }

    .partner-logo{
        margin-top: 20px;
        text-align: center;
        img{
            width: 80%;
        }
    }
    .info{
        .name{
            font-size: 1.2em;
            text-align: center;
        }
        a{
            display: inline-block;
            margin: 10px 0px;
            font-size: 1em;
            .icon{
                font-size: 0.8em;
            }
        }
    }
}

.event-list{
    display: grid;
    grid-template-columns: auto 1fr;

    grid-gap: 5px;

    margin: 30px 0px;

    & > *{
        padding: 7px;
    }

    &.old{
        .date-box{
            background-color: rgb(202, 202, 202);
            color: black;
        }
    }

    .date-box{
        background-color: $violet;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        .top{
        }
        .bottom{
        }
    }

    .header{
        //font-weight: bold;
        color: rgba(0,0,0,.87);
        transition: color 0.2s;
        font-size: 1.1em;
        &:hover{
            color: black;
        }
    }
    .details{
        font-size: 0.8em;
        color: #666;
    }
}

.happening-now{
    display: inline-block;
    margin: 0px 7px;
    padding: 0px 7px;
    border-radius: 2px;
    background-color: rgb(57, 149, 33);
    color:  white;
    &.at-header{
        font-size: 0.5em;
        line-height: 1.6;
        font-weight: normal;
    }
}

.already-finished{
    display: inline-block;
    margin: 0px 7px;
    padding: 0px 7px;
    border-radius: 2px;
    background-color: rgb(218, 218, 218);
    color:  black;
    &.at-header{
        font-size: 0.5em;
        line-height: 1.6;
        font-weight: normal;
    }
}

.centered-content-container{
    text-align: center;
}

.standard-content{
    padding-top: 130px;
    padding-bottom: 30px;

    .ui.header{
        margin: 30px 0px;
        font-family: $fontBeauty;
    }
}
.plain-content{
    margin: 30px 0px;
    &.fff{
        font-size: 1.5rem;

        .list-item{
            margin: 3rem 0px;
            //padding-left: 1rem;
            list-style:none;
        }
    }
}

.article-container{
    img.title-img{
        width: 100%;
        margin-top: 10px;
    }
    .image-descr{
        color: #666;

    }
    h1{
        font-family: $fontBeauty;
        font-size: 2.4em;
        margin-bottom: 5px;
    }

    a.author{
        color: rgba(0,0,0,.87);
        &:hover{
            color: black;
        }
    }

    div.text{
        margin: 15px 0px;

        font-size: 1.2em;
        font-family: $fontSerif;

        *{
            font-family: $fontSerif;
        }

        p{
            margin: 15px 0px !important;
            font-family: $fontSerif;
        }
    }
}

.time-box{
    color: grey;
    margin: 30px 0px;
    .ic{
        color:  #aaa;
    }
}

.join-form{
    iframe{
        width: 100%;
        height: 500px;
    }
}

.footer{
    padding: 70px 0px !important;
}

.footer-link{
    color: white;
    &:hover{
        color: white;
        text-decoration: underline;
    }
}

.cookie-alert{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;

    padding: 20px;
    background-color: $violet;
    color: white;

    display: none;
    
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    
    .flex{
        display: flex;
        align-items: center;
        .text{
            flex: 1;
            font-size: 1.2em;
        }
        .buttons{
            .speclink{
                margin: auto 10px;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.socmedia-share-buttons{
    margin: 20px 0px;
    & > *{
        vertical-align: top;
        display: inline-block;
    }
    & > script{
        display: none;
    }
}

.climate-march-welcome-view{
    width: 100%;
    height: 100vh;
    background: rgb(26,114,64);
    background: -moz-linear-gradient(45deg, rgba(26,114,64,1) 0%, rgba(39,148,106,1) 50%, rgba(63,212,183,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(26,114,64,1) 0%, rgba(39,148,106,1) 50%, rgba(63,212,183,1) 100%);
    background: linear-gradient(45deg, rgba(26,114,64,1) 0%, rgba(39,148,106,1) 50%, rgba(63,212,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a7240",endColorstr="#3fd4b7",GradientType=1);
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    .content{
        text-align: center;
        color: white;
        .pusher{
            height: 50px;
        }
        h1{
            margin: 5px 0px;
            font-size: 5rem;
            text-transform: uppercase;
            font-family: $fontBeauty;
            text-shadow: 0px 5px 15px rgba(0,0,0,0.4);
            @media only screen and (max-width: 723px) {
                font-size: 3rem;
            }
        }
        .subheader{
            margin-top: 1rem;
            font-size: 2rem;
            font-family: $fontBeauty;
            font-style: italic;
            @media only screen and (max-width: 723px) {
                font-size: 1.8rem;
            }
        }
    }
    
}
.climate-social-media-icons{
    position: absolute;
    top: 0px;
    font-size: 1.8em;
    padding: 1.5rem;
    width: 100%;
    text-align:center;

    a{
        color: white;
        padding: 1px;
        margin: 1rem;
    }
}