<div class="ui left fixed vertical inverted large menu" id="menu">
  <a class="item" href="{{ path('adminIndex') }}"><i class="fas fa-home"></i>  Home</a>
  <a class="item"><i class="fas fa-pencil-alt"></i> Website Content</a>
  <a class="item"><i class="fas fa-newspaper"></i>  News</a>
  <a class="item" href="{{ path('adminLogout') }}">Log out</a>
</div>



<script>
  function toggleMenuVisible(){
    $('.ui.sidebar').sidebar('toggle');
  }
</script>