<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.theme.default.min.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

        <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
        <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>      
        
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>

        <title>{% block title %}{% endblock %}Protests</title>
    </head>
    <body {% block bodyProperties %}{% endblock %} >

        {% block body %}{% endblock %}

        {% include "footer.html.twig" %}

        <script src="/plugins/owlcarousel/owl.carousel.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>