<!DOCTYPE html>
<html lang="lv">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.theme.default.min.css">

        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

        <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
        <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>      

        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Lora" rel="stylesheet">

        <script type="text/javascript" src="/js/script.js"></script>        
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>

        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        <title>Lapa nav atrasta | Protests</title>
    </head>
    <body>
        <div class="standard-content">
            <div class="ui text container">
                <h1 class="ui horizontal divider huge header">Lapa nav atrasta</h1>

                <div class="plain-content">
                    <p>Diemžēl šāda lapa neeksistē. Vai vēlaties doties uz <a href="http://www.protests.eu">sākumlapu</a>?</p>
                </div>

            </div>
        </div>
    </body>
</html>

{% include "navjs.html.twig" %}
